<a href="https://colab.research.google.com/github/mauronk/Alura-QuarentenaDados/blob/master/MeuQuarentenaDados3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
filmes =  pd.read_csv("https://raw.githubusercontent.com/mauronk/bases/master/movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
avaliacoes = pd.read_csv("https://raw.githubusercontent.com/mauronk/bases/master/ratings.csv")
avaliacoes.columns = ["usuarioId","filmeId","nota","momento"]
notas_medias_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()
filmes_com_media = filmes.join(notas_medias_por_filme, on="filmeId")
filmes_com_media.columns = ["filmeId","titulo","generos","media"]
filmes_com_media

      filmeId  ...     media
0           1  ...  3.920930
1           2  ...  3.431818
2           3  ...  3.259615
3           4  ...  2.357143
4           5  ...  3.071429
...       ...  ...       ...
9737   193581  ...  4.000000
9738   193583  ...  3.500000
9739   193585  ...  3.500000
9740   193587  ...  3.500000
9741   193609  ...  4.000000

[9742 rows x 4 columns]